body{
	background-image: url("http://www.grammysstudio.com/images/uploads/beige_with_gold_leaf_pattern.jpg");
}
h1{
	margin-top: 100px;
	font-family: script,cursive;
	font-weight: bold;
	color:#BC8F8F;
}